.controls {

  div {
    &.navigate-right.enabled {
      border-left-color: #FFFFFF;
    }
    &.navigate-left.enabled {
      border-right-color: #FFFFFF;
    }
    &.navigate-up.enabled {
      border-bottom-color: #FFFFFF;
    }
    &.navigate-down.enabled {
      border-top-color: #FFFFFF;
    }
  }
}
